@charset "UTF-8";
.App .App-logo {
  height: 4vh;
  pointer-events: none;
}
.App .App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}
.App .navbar {
  justify-content: space-between;
}
.App p.unauth-disclaimer {
  text-align: center;
}
.App .form-buttons {
  display: flex;
}
.App .form-buttons .button-container {
  margin: 0 1rem;
}

.ui .form .formSection {
  padding: 10px 0;
}
.ui .form label input {
  float: right;
}
.ui .form .fields.time .field input {
  padding: 0.67857143em 0.5em;
}
.ui .form .fields.inline label {
  width: 25%;
}
.ui .form .fields.inline .ui.dropdown,
.ui .form .fields.inline .selection.dropdown {
  width: 75%;
}
.ui .form .ui.default.dropdown:not(.button) > .text,
.ui .form .ui.dropdown:not(.button) > .default.text {
  color: black !important;
}

.app-body label {
  display: block;
}

body a.button,
body div.button,
body a.btn,
body a.btn-secondary,
body div.btn,
.ui.basic.button,
.ui.basic.buttons .button {
  border: 2px solid #c21e31 !important;
  background: transparent !important;
  color: #c21e31 !important;
  text-transform: uppercase;
  padding: 1rem 0.9rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Libre Franklin", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
body a.button:hover,
body div.button:hover,
body a.btn:hover,
body a.btn-secondary:hover,
body div.btn:hover,
.ui.basic.button:hover,
.ui.basic.buttons .button:hover {
  background-color: #c22134 !important;
  color: #fff !important;
}

body button.btn.login,
body button.btn.logout {
  border: 2px solid #c21e31 !important;
  background: #c21e31 !important;
  color: #fff !important;
  text-transform: uppercase;
  padding: 1rem 0.9rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Libre Franklin", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body button.btn.login:hover,
body button.btn.logout:hover {
  background-color: #fff !important;
  color: #c21e31 !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal.display-block {
  display: block;
}
.modal.display-none {
  display: none;
}
.modal .modal-main {
  position: fixed;
  background: white;
  width: 500px;
  height: auto;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
}
.modal a.closeModal {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 20px;
}
.modal a.closeModal:after {
  display: inline-block;
  content: "×";
  /* This will render the 'X' */
}

.entries-wrap {
  display: block;
  margin: 5rem 0;
}
.entries-wrap .time-entry {
  display: block;
  position: relative;
  margin-top: 20px;
  box-shadow: 0 4px 20px rgba(1, 0, 6, 0.08);
}
.entries-wrap .time-entry .entry-wrap {
  display: flex;
  flex-wrap: wrap;
}
.entries-wrap .time-entry .entry-wrap .entry-left {
  width: 15%;
  background-color: rgba(1, 0, 6, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.entries-wrap .time-entry .entry-wrap .entry-left .entry-date {
  font-size: 1.8rem;
  font-weight: 700;
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.entries-wrap .time-entry .entry-wrap .entry-left .entry-pay {
  display: flex;
  border-top: 1px solid #ccc;
}
.entries-wrap .time-entry .entry-wrap .entry-left .entry-pay .entry-time,
.entries-wrap .time-entry .entry-wrap .entry-left .entry-pay .entry-pay-type {
  width: 50%;
  align-self: center;
  text-align: center;
  padding: 1rem;
}
.entries-wrap .time-entry .entry-wrap .entry-left .entry-pay .entry-time {
  font-size: 2rem;
  font-weight: 700;
  border-right: 1px solid #ccc;
  color: green;
}
.entries-wrap .time-entry .entry-wrap .entry-left .entry-pay .entry-pay-type {
  width: 50%;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
}
.entries-wrap .time-entry .entry-wrap .entry-right {
  width: 80%;
  flex: 1;
  padding: 1rem;
}
.entries-wrap .time-entry .entry-wrap .entry-right .entry-proj {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  text-align: left;
  padding: 5vh 6.5vw;
  max-width: 1500px;
  margin: 0 auto;
}

.app-body {
  padding: 3vh 6.5vw;
}
